name = "CoilFunctions"
uuid = "0e2e25a7-1af4-42fd-b46d-35f8c1fa190d"
authors = ["[\"Daniel Berge", "\"Nexen Group", "Inc.\"]"]
version = "0.1.0"

[compat]
julia = "1.3"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
